<div class="container d-flex flex-column align-items-center" data-controller="main">
  <% if @movie %>
    <div class="main-header d-flex  justify-content-between">
      <div>
        <h1 class="title title-header">Cheppuko</h1>
      </div>
      <div class="header-icons d-flex align-items-center">
        <%= link_to "#", "data-bs-toggle": "modal", "data-bs-target": "#archiveModal", class: "mr-4" do %>
          <i class="fas fa-calendar-days"></i>
        <% end %>
        <%= link_to "#", "data-bs-toggle": "modal", "data-bs-target": "#statsModal", class: "mr-4" do %>
          <i class="fas fa-chart-simple"></i>
        <% end %>
        <%= link_to "#", "data-bs-toggle": "modal", "data-bs-target": "#howToPlay" do %>
          <i class="fas fa-circle-info"></i>
        <% end %>
      </div>
    </div>
  
    <div id="twitter-dm" class="text-center">
      <p>You can contribute your movie frames <span class="blink">via DM</span>
        <a href="https://twitter.com/messages/compose?recipient_id=181975250"
          class="twitter-dm-button" data-screen-name="@_manikantap">
          @_manikantap
        </a>
      </p>
    </div>
  
    <div class="image-frame mb-10" data-movieid="<%= @movie&.id %>" data-main-target="movie">
      <%= render partial: "movies/image", locals: {image: @image, movie: @movie} %>
    </div>
  
    <div data-movie="<%= @movie.title %>" data-main-target="title" data-day="<%= @movie.day %>" data-contributor="<%= @movie.contributor %>"></div>

    <div class="hit-buttons mb-10 mt-10" data-main-target="skip"></div>

    <%= render 'movie_search' %>

    <div data-main-target="moviename" class="mt-10"></div>
    <div data-main-target="squares" class="squares"></div>
  
    <div class="movie-guess" data-main-target="movieguess" data-mguess=""></div>

    <div class="next-movie" data-main-target="nextmovie"></div>
    
    <div class="social-icons" data-main-target="socialIcons"></div>
   <!-- <div class="promotions text-center mt-10">
      <a href="https://www.youtube.com/watch?v=zHqnQ5umdyE" target="_blank"><%= image_tag "rrm.jpg", size: "250x350" %></a>
      <p>Click ☝️ and listen to the Rajahmundry Rose Milk title song now </p>
    </div> -->
    <div class="d-none">
      <a href='https://bachelorthesiswritingservice.com/'></a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=0356bf4de2c14b9afa6cc2fa1aaf5167288b867e'></script>
      <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/960457/t/3"></script>
    </div>
  <% else %>
     <div class="main-header d-flex  justify-content-between">
        <h1 class="title title-header">Cheppuko</h1>
     </div>
    <p>Sorry no movie frames</p>
  <% end %>
</div>






<div class="modal fade" id="howToPlay" tabindex="-1" aria-labelledby="howToPlayLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="howToPlayLabel">How to play</h6>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="info-1">
          <span class="fas fa-image"></span>
          <p>Use the image provided to guess the name of the movie</p>
        </div>
        <div class="info-2">
          <span class="fas fa-eye"></span>
          <p>If you get a guess wrong a new image from the movie is revealed.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="statsModal" tabindex="-1" aria-labelledby="statsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="statsModalLabel">Stats</h6>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="stats-bar">
          <div class="played row">
            <span class="bg-warning played-stat" id="played-stat"></span>
            <span>played</span>
          </div>                                              
          <div class="win row">
            <span class="bg-success won-stat" id="won-stat"></span>
            <span>won</span>
          </div>
          <div class="percentage row">
            <span id="percent"></span>
            <span>win%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="archiveModal" tabindex="-1" aria-labelledby="archiveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="statsModalLabel">Archive</h6>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>coming soon....</p>
      </div>
    </div>
  </div>
</div>