<%= form_with model: [:admin, @movie] do |f| %>
  <div class = "form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class = "form-group">
    <%= f.label :hardest %>
    <%= f.file_field :hardest, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :harder %>
    <%= f.file_field :harder, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :hard %>
    <%= f.file_field :hard, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :easy %>
    <%= f.file_field :easy, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :easiest %>
    <%= f.file_field :easiest, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
