<table class="table">
    <thead class="thead-light">
      <tr>
        <th>Title</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |m| %>
        <tr>
          <td><%= m.title %></td>
          <td><%= m.day %></td>
          <td><%= link_to "show", admin_movie_path(m) %></td>
          <td><%= link_to "edit", edit_admin_movie_path(m) %></td>
          <td><%= link_to "Delete", admin_movie_path(m), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>
    </tbody>
</table>