<!DOCTYPE html>
<html>
  <head>
    <title>Cheppuko</title>
    <meta name="google-site-verification" content="9jUcsfCu4IU7GgB3i1Q2dWHT8L5mhvDgWjC_eGnKwVE" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
